<h1>Добавить характеристики</h1>
<form action='/specs' method='POST'>
  <label>carId: <input type='number' name='carId' /></label><br />
  <label>engine: <input type='text' name='engine' /></label><br />
  <label>power: <input type='text' name='power' /></label><br />
  <label>drive: <input type='text' name='drive' /></label><br />
  <button type='submit'>Сохранить</button>
</form>