<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{> styles }}
</head>
<body>
{{> header }}
{{> menu }}

<main class="container">
  {{{ body }}}
</main>

{{> footer }}
</body>
</html>
