<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{> styles }}
  <link rel="stylesheet" href="/public/css/toastr.min.css"> <!-- Убедись, что путь правильный -->
</head>
<body>
{{> header }}
{{> menu }}

<main class="container">
  {{{ body }}}
</main>

{{> footer }}

<script src="/public/js/toastr.min.js"></script>
<script src="/public/js/signin.js" defer></script>
<script src="/public/js/signup.js" defer></script><!-- Убедись, что путь правильный -->
<script>
  // Функция для отображения уведомлений
  function showToast(type, message) {
    toastr[type](message);
  }
</script>
</body>


</html>
