<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
{{> header }}
{{> menu }}
{{> session-info user=user }}

<main>
  {{{ body }}}
</main>

{{> footer }}
</body>
</html>
