<div class='auth-page-background'>
  <div class='auth-container'>
    <h2 class='auth-title'>Вход в систему</h2>
    <form id='signin-form' class='auth-form'>
      <div class='form-group'>
        <label for='email'>Email</label>
        <input type='email' id='email' name='email' required />
      </div>
      <div class='form-group'>
        <label for='password'>Пароль</label>
        <input type='password' id='password' name='password' required />
      </div>
      <button type='submit' class='submit-btn'>Войти</button>
    </form>

    <p id='error-message' class='error-message'>Произошла ошибка при входе.
      Пожалуйста, попробуйте снова.</p>

    <div class='switch-auth'>
      <p>Нет аккаунта?
        <a href='/signup' class='link-btn'>Зарегистрироваться</a></p>
    </div>
  </div>
</div>